:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1a1a1a;
  background-color: #f1f3f5;
}



@media (prefers-color-scheme: dark) {
  :root {
    color: #f1f3f5;
    background-color: #242424;
  }
}